<div>
    <span class="bmm-event-label">Határozat azonosítója:</span>
    <span class="bmm-event-data">{{ hatarozat["azonosito"] }}</span>
</div>
<div>
    <span class="bmm-event-label">Év:</span>
    <span class="bmm-event-data">{{ hatarozat["year"] }}</span>
</div>
<div>
    <span class="bmm-event-label">Döntést hozó bíróság:</span>
    <span class="bmm-event-data">{{ hatarozat["birosag"] }}</span>
</div>
<div>
    <span class="bmm-event-label">Kollégium:</span>
    <span class="bmm-event-data">{{ hatarozat["kollegium"] }}</span>
</div>
<div>
    <span class="bmm-event-label">Jogterület:</span>
    <span class="bmm-event-data">{{ hatarozat["jogterulet"] }}</span>
</div>
<div>
    <span class="bmm-event-label">Megnyitás:</span>
    <span class="bmm-event-data"><a href="{{ hatarozat["url"] }}">Kattints ide!</a></span>
</div>
<div>
    <span class="bmm-event-label">Letöltés:</span>
    <span class="bmm-event-data"><a href="{{ hatarozat["download_url"] }}">Kattints ide!</a></span>
</div>

<div class="bmm-event-label">
    <b>Egyezések száma</b>: {{ hatarozat["result_count"] }}
</div>

<div class="bmm-event-label">
    <b>Első egyezések</b>:
    <ul>
    {% for result in hatarozat["results"] %}
        <li>"{{ result["before"] }}<b>{{ result["common"] }}</b>{{ result["after"] }}"</li>
    {% endfor %}
    </ul>
</div>

<div class="bmm-event-separator">&nbsp;</div>
