<div>
    <span class="bmm-event-label">Határozat azonosítója:</span>
    <span class="bmm-event-data">{{ hatarozat[1] }}</span>
</div>
<div>
    <span class="bmm-event-label">Év:</span>
    <span class="bmm-event-data">{{ hatarozat[5] }}</span>
</div>
<div>
    <span class="bmm-event-label">Meghozo Bíróság:</span>
    <span class="bmm-event-data">{{ hatarozat[2] }}</span>
</div>
<div>
    <span class="bmm-event-label">Kollégium:</span>
    <span class="bmm-event-data">{{ hatarozat[3] }}</span>
</div>
<div>
    <span class="bmm-event-label">Jogterulet:</span>
    <span class="bmm-event-data">{{ hatarozat[4] }}</span>
</div>
<div>
    <span class="bmm-event-label">URL:</span>
    <span class="bmm-event-data"><a href="{{ hatarozat[9] }}">{{ hatarozat[9] }}</a></span>
</div>
<div>
    <span class="bmm-event-label">Letöltési URL:</span>
    <span class="bmm-event-data"><a href="{{ hatarozat[10] }}">{{ hatarozat[10] }}</a></span>
</div>
<div class="bmm-event-separator">&nbsp;</div>